<style type="text/css">
  .piptable .title {
    width: 67%;
  }

  .piptable .author {
    width: 33%;
  }
</style>
{% for status in site.data.statuses %}
  {% assign pips = include.pips|where:"status",status|sort:"pip" %}
  {% assign count = pips|size %}
  {% if count > 0 %}
    <h2>{{status}}</h2>
    <table class="piptable">
      <thead>
        <tr><th class="pipnum">Number</th><th class="title">Title</th><th class="author">Author</th></tr>
      </thead>
      {% for page in pips %}
        <tr>
          <td class="pipnum"><a href="{{page.url|relative_url}}">{{page.pip|xml_escape}}</a></td>
          <td class="title">{{page.title|xml_escape}}</td>
          <td class="author">{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
